@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Roboto+Mono:300,300i,400,400i,500,500i,700,700i|Roboto+Slab:100,300,400,700');

@font-face {
  font-family: brush;
  src: url('../fonts/brush.ttf');
}

@font-face {
  font-family: m1;
  src: url('../fonts/mplus-1m-light.ttf');
}

html, body {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  font-family: montserrat;
}

div, section, img {
  display: block;

  margin: 0;
  padding: 0.15in;
}

h1, h2, h3, h4, h5, h6, p {
  display: block;

  margin: 0;
  padding: 0.1in;
}

input, textarea, button, select {
  font-family: inherit;
}

input:focus, textarea:focus, button:focus, select:focus {
  outline: none;
}

textarea, input[type="text"], input[type="password"] {
  display: inline-block;

  padding: 0.1in;
  margin: 0.1in;
  margin-right: 0;

  color: inherit;

  background-color: rgba( 240, 240, 240, 0.5 );

  font-size: 0.15in;

  border: 1px solid black;
}

button, input[type="button"], input[type="submit"], input[type="file"], input[type="photo"], select {
  display: inline-block;

  background-color: transparent;
  background-image: linear-gradient( 0deg, rgba( 190, 215, 195, 0.5 ), rgba( 200, 235, 255, 0.5 ) );
  border: 1px solid rgba( 120, 120, 125, 0.5 );
  border-radius: 4px;

  font-size: 11pt;

  color: inherit;

  padding: 0.1in;
  margin: 0.1in;
  margin-right: 0;

  transition: box-shadow 100ms ease;

  cursor: pointer;
}

select {
  background-image: linear-gradient( 0deg, rgba( 190, 215, 195, 0.5 ), rgba( 200, 235, 255, 0.5 ) );

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  font-size: 11pt;
  padding: 0.1in;
  margin: 0.1in;

  height: 0.4in;
}

button:active, input[type="button"]:active, input[type="submit"]:active {
  background-color: rgba( 180, 235, 255, 0.5 );
  background-image: none;
  transform: translate( 0, 2px );
}

ol, ul {
  list-style-type: none;
  padding: 0.1in;
  margin: 0;
}

li {
  padding: 0.1in;
}

li * {
  vertical-align: middle;
  margin: 0;
}

a {
  display: inline-block;

  text-decoration: none;
  color: inherit;

  margin: 0;
  padding: 0.02in;

  transition: transform 100ms ease;
}

a:hover {
  text-decoration: underline;
}

a:active {
  transform: translate( 0, 2px );
}

input[type="checkbox"], input[type="radio"] {
  -webkit-appearance: initial;
}

input[type="checkbox"]::after, input[type="radio"]::after {
  content: "";

  display: inline-block;

  background-color: rgba( 240, 240, 240, 0.5 );
  border: 1px solid black;

  width: 20px;
  height: 20px;
}

input[type="checkbox"]:checked::after, input[type="radio"]:checked::after {
  background-color: rgba( 130, 130, 130, 0.5 );
}
